#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.taskContainer {
  /* max-width: 500px; */

  margin-top: 5px;

  display: flex;
  justify-content: space-between;
}
